# Simple Linear Regression Project
In this project the dataset contained in the .csv file "Salary_Data.csv" will be used; it's made of 30 observations and 2 columns: Salary (the target variable I want to predict) and YearsExperience (the only predictor variable available). 

In these first lines I'm going to load the dataset and the required libraries.

In [4]:
# Libraries
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [5]:
data = pd.read_csv("Salary_Data.csv")
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0